.vscode/**
.vscode-test/**
.gitignore
.vscode/**
src/nimsuggest/nimcache/**
src/nimsuggest/nimsuggest.exe
src/nimsuggest/nimsuggest
typings/**
out/test/**
tests/**
src/**
**/*.map
*.db
vscodeNim/**
tsconfig.json
tslint.json